<!-- your html code here -->
<form>                
    <h2 class="text-lg-left">Contacto</h2>
    <p class="text-lg-left"> pero la mayoría sufrió alteraciones en alguna manera, ya sea porque se le agregó humor, o palabras aleatorias que no parecen ni un poco creíbles. Si vas a utilizar un pasaje de Lorem Ipsum, necesitás estar seguro de que no hay nada avergonzante escondido en el medio del texto.</p>
    <div class="form-group"> 
    <div class="alert alert-dark" role="alert"> 
     <div class="col-md-6">
       <label for="inputemail3" class="col-sm-6 col-form-label">Correo electronico</label>
       <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ejemplo@unsitio.com"> 
     </div>
     <div class="col-md-6">
     <label for="exampleFormControlTextarea1">Por favor ingresa tu información.</label> 
     <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
     </div>
    </div>
   </div>
</form>