            <!-- THE SECOND HEADING -->
            <div class="media">
                <img src="website1/assets/img/2.jpg" class="mr-3" style="border-radius: 100%;" alt="...">
                <div class="media-body">
                    <h1 class="mt-0">The Second Heading <span style="color:gray">Is Pretty Cool Too.</span> </h1>
                    <p>Will you do the same for me? It's time to face the music I'm no longer your muse. Heard it's beautiful, be the judge and my girls gonna take a vote. I can feel a phoenix inside of me. Heaven is jealous of our love, angels are crying from up above. Yeah, you take me to utopia.</p>
                </div>
              </div>